<h2 id="title">WriteMood</h2>

<p>What's your WriteMood? Use this app to determine if your writing is more often positive or negative, or if you're well-balanced between the two.</p>

<p>Log in below to get your most recent posts.</p>

{{outlet}}
