<h2 id="title">WriteMood</h2>

<p>What's your WriteMood? Use this app to determine if your writing is more often positive or negative, or if you're well-balanced between the two.</p>

{{#unless loggedIn}}
	{{#each services as |service|}}
		<button {{action 'loginWith' service}}>Log in with {{service}}</button>
	{{/each}}
{{/unless}}

{{outlet}}
